html {
     scroll-behavior: smooth;
     transition-timing-function: ease-in-out;
     transition-duration: 5s;
    }

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fdfdfdf !important;
}

/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #6db6c1;
/*     overflow-x: hidden; /* Disable horizontal scroll */ */
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
}


.sidenav p {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Crimson Text';/*, serif;*/
    font-style: italic;
    margin-top: 30px;
    opacity: 0.8;
    }

figcaption {
    text-align: right;
    margin-top: -1.5em;
    color: #eeeeee;
    font-size: 18pt;
    font-weight: bold;
}

img.logo{
    float: center;
/*     max-width: 100%; */
    width: 100%;
    margin: 1rem 1 1rem 1rem;
    margin-left: 2%;
}

img.speaker {
    width: 90%;
}


/* The navigation menu links */

.menu {
    margin-top: 40px;
}

.menu a {
    padding: 10px 10px 10px 0px;
    text-decoration: none !important;
    font-size: 14px !important;
    color: #ffffff !important;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    opacity: 0.5;
}

.social img:hover {
    opacity: 0.5;
}

/* Style page content */
.main {
    margin-left: 20%; /* Same as the width of the sidebar */
    margin-right: 5%; /* Leave some margin on the right side */
    padding: 50px 50px 50px 50px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
}

.main p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 1rem;
    text-align: justify;
}

.text {
    max-width: 80%;
    margin: auto;
}

.colnleft {
    float: left;
    width: 30%;
}

.colnright {
    float: left;
    width: 70%;
}

.coln ul {
    list-style-type: none;
}

.rows a {
    text-decoration: none !important;
    color: blue !important;
}

.rows:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
    text-align: center;
    font-size: 20pt !important;
    padding-top: 10px;
}

h2 {
    font-size: 14pt !important;
    text-align: center;
    padding-top: 0px;
}

h3 {
    font-size: 18pt !important;
    text-align: left;
    padding-top: 5px;
}

h4 {
    font-size: 14pt !important;
    padding-left: 10pt;
}


a {
    color: black !important;
    text-decoration: underline !important;
/*     font-weight: 300; */
}

/* On smaller screens (less padding and a smaller font size) */
@media only screen and (max-width: 768px) {
    .sidenav {
        width: 300px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 60px;
        }
    
    .sidenav h2 { 
        font-size: 20px;   
        }
         
    .main {
        margin-left: 300px;}
}   

@media only screen and (max-width: 576px) {
    .sidenav {
    width: 100%;
    position: static;
    }
    
    .menu {
        display: none;
    }
    
    .sidenav h2 { 
        font-size: 24px;   
        }
    
    .main { 
       margin-left: 0px; 
       padding-top: 20px;
        
    }
    
}


/* For tables */

table {
    border-collapse: collapse;
}

.rulet {
    border-top: 1px solid grey;
}

.ruleb {
    border-bottom: 1px solid grey;
}

.rulelightb {
    border-bottom: 1px dotted grey;
}
